.ul-box-header{
  list-style: none;
  text-align: center;
}
.li-box-header{
  display: block;
  float: center;
  margin: 1em;
  text-align: center;

}
.wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 620px;
  background-color: #FCE38A;
}
.wrap-text{
  max-width: 200px;
}

.block_content_center{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}