body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

.avatar-container {
    margin-top: 20px;
}

#avatar {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 50%;
}
