@media screen and (max-width: 500px) {
  .header {
    width: 95%;
    justify-content: space-between;

    padding: 5px 10px;
  }
  .header__nuv {
    flex-direction: column;
  }
  .header__nuv li:first-child {
    margin-left: 0;
  }
  .menu__mobile {
    display: block;
  }
  .header__menu {
    display: none;
    position: absolute;
    top: 49px;
    right: 0px;
    background-color: #fff;
  }
  .container {
    width: 100%;
    padding: 10px;
  }
  .container__news_item {
    width: 50%;
  }
}
