body {
  margin: 0;
  padding: 0;
  font-size: 40px;
}

.colc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input[type="number"],
select {
  width: 200px;
  margin: 100px 10px;
  padding: 100px 10px;
  font-size: 40px;
  text-align: center;
}

#operator,
#colcResult {
  margin: 40px;
  padding: 40px;
}
