@font-face {
  font-family: "Times New Roman", Times, serif;
  src: url(#);
}
.menu__mobile {
  display: none;
}
.icon_menu_img {
  width: 25px;
}
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#fff, #4e4747, #000);
  font-family: "Times New Roman", Times, serif;
}
.header {
  width: 1000px;
  margin: auto;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo {
  max-width: 100px;
}
.header__nuv {
  list-style: none;
  display: flex;
}

.header__nuv li {
  padding: 6px 8px;
}

.header__nuv li:first-child {
  margin-left: 50px;
}

.header__menu li a {
  text-decoration: none;
  color: #000;
  transition: all 0.5s ease;
}
.header__menu li a:hover {
  color: #4e4747;
}

.container {
  width: 1000px;
  margin: auto;
  min-height: 1300px;
}

.container__news {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container__news_item {
  width: 300px;
}

.footer__text {
  color: beige;
  display: flex;
  justify-content: center;
}
