.slider {
  position: relative;
  max-width: 700px;
  margin: auto;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
}

.slide img {
  display: block;
  width: 100%;
}

.button {
  position: absolute;
  top: 50%;
  border: none;
  cursor: pointer;
  font-size: 50px;
}

.next {
  right: 10px;
}

.back {
  left: 10px;
}
